---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- set pages = ["/", "/company/", "/products/", "/news/", "/contact/"] %}
  {%- for p in pages %}
  <url>
    <loc>{{ site.url }}{{ p }}</loc>
    <changefreq>monthly</changefreq>
  </url>
  {%- endfor %}
  {%- for post in collections.news %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | dateISO }}</lastmod>
  </url>
  {%- endfor %}
</urlset>
